body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #f7e6ff, #fbaae4);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ac055b;
    font-size: 2.5em;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.section {
    margin: 20px 0;
}

label {
    font-size: 1.2em;
    margin-right: 10px;
}

select {
    padding: 10px;
    font-size: 1.2em;
    margin: 10px 0;
    width: 80%;
}

.card-selection div {
    margin-bottom: 15px;
}

#result {
    font-size: 1.2em;
    white-space: pre-line;
    background: #f3e5f5;
    padding: 20px;
    border-radius: 10px;
}
button.submit-btn {
    background-color: #d50349;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

button.submit-btn:hover {
    background-color: #e3046c;
}
